body {
    margin: 0px;
    
    font-size: 13px
}
header {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

header a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.pic {
    background: url('../img/programmer.jpg');
    /* background-size: cover; */
    text-align: center;
    padding: 50px 0px 40px 0px;
    

}
#profile-name {
    font-size: 2.5em;
    font-weight: bold;
    color: red;
    background-color:

}
#profile-job-title {
    font-size: 1.7em;
    font-weight: bold;
    color: red;

}
#profile-tagline {
    font-size: 1.5em;
    font-weight: bold;
    color: red;

}
#profile-image {
    height: 15em;
    border: dotted 4px #CECECE;
}